extends ../layout/common
block common
    nav.navbar.navbar-expand-lg.navbar-light.bg-info
        a.navbar-brand(href='#')
            img(src="/logo/logo.jpg", alt="").d-inline-block.align-top.nav-img.mr-1
        .collapse.navbar-collapse
            .navbar-nav
                a.nav-item.nav-link(href='/') Home
                a.nav-item.nav-link(href='/student') Student
    .container
        h1 student component
            .d-flex.align-items-center
                a.btn.btn-primary.btn-lg(href="/student/createStudent") Add student
                form.ml-auto(action="/student/search", method="GET")
                    .col-xs-2.d-flex
                        input#id.form-control(type="text", name="q",placeholder="frist, lastname or phone")
                        button.btn.btn-primary.ml-1 Search

        table.table.table-striped
            tr.table-primary
                th id
                th Frist Name
                th Last Name
                th Phone
                th Adress
                th Email
                th Description
                th Action
            each student in students
                tr
                    td=student.id
                    td=student.fristname
                    td=student.lastname
                    td=student.phone
                    td=student.address
                    td=student.email
                    td=student.description
                    td
                        a(href="/student/remove/"+student.id,onclick="return confirm('Are you sure remove this student?')").btn.btn-danger.mx-1 Remove
                        a(href="/student/"+student.id).btn.btn-info Detail
            nav(aria-label='Page navigation example').mt-1
                nav(aria-label='Page navigation example').mt-1
        ul.pagination
            li.page-item
                a.page-link(href='/student/?page='+((curenPage===1)?1:curenPage-1)) Previous
            - for (var x = 1; x <= countPages; x++)
                li.page-item
                    a.page-link(href='/student/?page='+x)=x
            li.page-item
                a.page-link(href='/student/?page='+((curenPage===countPages)?countPages:curenPage+1)) Next